/* styles.css */
.hole-container {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

.player-score {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 3px;
}

.player-name {
  flex-grow: 1; /* Push player name to the left */
}

.player-controls {
  margin-right: 10px; /* Adjust spacing between player controls and score comparison */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.score-comparison {
  font-weight: bold;
  width: 30px; /* Set a fixed width */
  text-align: center; /* Center the content horizontally */
}

.score-comparison span {
  margin-left: 2px; /* Add spacing between parentheses and score comparison */
}

