<app-navbar [userName]="loggedInUser?.name ?? ''" [isLoggedIn]="isLoggedIn"></app-navbar>
<div class="container">
  <div class="hole-list"> Holes
    <ul class="list-group">
      <a class="list-group-item list-group-item-action" (click)="selectHole(i)" *ngFor="let hole of holes; let i = index">
        Hole {{ i + 1 }}
      </a>
      <a class="list-group-item list-group-item-action add-icon" (click)="toggleHoleForm()">
        <img src="../../assets/add.png" alt="Add Hole">
      <div *ngIf="showHoleForm" (click)="$event.stopPropagation()">
        <form class="add-hole-form" (ngSubmit)="addHole(+par.value, location.value, +latitude.value, +longitude.value)">
          <input class="form-control" #par type="number" placeholder="Enter par" required>
          <input class="form-control" #location type="text" placeholder="Enter location">
          <input class="form-control" #latitude type="number" placeholder="Enter latitude">
          <input class="form-control" #longitude type="number" placeholder="Enter longitude">
          <button type="submit" class="btn btn-primary btn-sm">Add Hole</button>
        </form>
      </div>
      </a>
    </ul>
  </div>
  <div class="player-scores"> Players
    <li *ngFor="let player of players; let i = index">
      <p>{{ player.name }}'s Total Score: {{ getTotalScoreForPlayer(i) }}</p>
    </li>
    <a class="add-icon" (click)="toggleAddPlayerForm()">
      <img src="../../assets/add.png" alt="Add Hole">
    </a>
    <form *ngIf="showAddPlayerForm" class="add-player-form" (ngSubmit)="addPlayer(playerName.value); playerName.value='';">
      <input #playerName type="text" placeholder="Enter player name">
      <button type="submit">Add Player</button>
    </form>
  </div>

  <div class="hole-details">
    <app-hole *ngIf="selectedHoleIndex !== null" [par]="holes[selectedHoleIndex].par" [holeNumber]="holes[selectedHoleIndex].holeNumber" [players]="players" [holeIndex]="selectedHoleIndex">
    </app-hole>
  </div>




</div>
