<app-navbar [userName]="loggedInUser?.name ?? ''" [isLoggedIn]="isLoggedIn"></app-navbar>
<div class="container">
  <div class="hole-list"> Holes
    <ul class="list-group">
      <a class="list-group-item list-group-item-action" (click)="selectHole(i)" *ngFor="let hole of holes; let i = index">
        Hole {{ i + 1 }}
        <button type="submit" *ngIf="!hole.editHole"  class="btn btn-primary btn-sm" style="float: right;" (click)="toggleEditHoleForm(i)">Edit Hole</button>
        <button type="submit" *ngIf="hole.editHole" class="stop-button btn btn-primary btn-sm" style="float: right;" (click)="toggleEditHoleForm(i)">Stop Edit</button>
        <div *ngIf="hole.editHole" (click)="$event.stopPropagation()">
          <form class="add-hole-form" (ngSubmit)="editHole(i ,+par.value, location.value, +latitude.value, +longitude.value)">
            <input class="form-control form-addon" #par type="number" value="{{hole.par}}" required>
            <input class="form-control form-addon" #location type="text" value="{{hole.location}}">
            <input class="form-control form-addon" #latitude type="number" value="{{hole.geolocation?.lat}}">
            <input class="form-control form-addon" #longitude type="number" value="{{hole.geolocation?.long}}">
            <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
          </form>
        </div>

        <div class="hole-details" *ngIf="isMobile && selectedHoleIndex === i">
          <app-hole *ngIf="isMobile && selectedHoleIndex !== null" [par]="holes[selectedHoleIndex].par" [holeNumber]="holes[selectedHoleIndex].holeNumber" [players]="players" [holeIndex]="selectedHoleIndex">
          </app-hole>
        </div>
      </a>
      <a class="list-group-item list-group-item-action add-icon" (click)="toggleHoleForm()">
        <img src="../../assets/add.png" alt="Add Hole">
      <div *ngIf="showHoleForm" (click)="$event.stopPropagation()">
        <form class="add-hole-form" (ngSubmit)="addHole(+par.value, location.value, +latitude.value, +longitude.value)">
          <input class="form-control" #par type="number" placeholder="Enter par" required>
          <input class="form-control" #location type="text" placeholder="Enter location">
          <input class="form-control" #latitude type="number" placeholder="Enter latitude">
          <input class="form-control" #longitude type="number" placeholder="Enter longitude">
          <button type="submit" class="btn btn-primary btn-sm">Add Hole</button>
        </form>
      </div>
      </a>
    </ul>
  </div>
  <div class="player-scores"> Players
    <ul class="list-group">
      <a class="list-group-item list-group-item-action"*ngFor="let player of players; let i = index">
        {{ player.name }}'s Total Score: {{ getTotalScoreForPlayer(i) }}
      </a>
      <a class="list-group-item list-group-item-action add-icon" (click)="toggleAddPlayerForm()">
        <img src="../../assets/add.png" alt="Add Hole">
        <div *ngIf="showAddPlayerForm" (click)="$event.stopPropagation()">
          <form class="add-hole-form" (ngSubmit)="addPlayer(playerName.value); playerName.value='';" >
            <input class="form-control" #playerName type="text" placeholder="Enter player name">
            <button type="submit" class="btn btn-primary btn-sm">Add Player</button>
          </form>
        </div>
      </a>
    </ul>
  </div>
  <div class="hole-details">
    <app-hole *ngIf="!isMobile && selectedHoleIndex !== null" [par]="holes[selectedHoleIndex].par" [holeNumber]="holes[selectedHoleIndex].holeNumber" [players]="players" [holeIndex]="selectedHoleIndex">
    </app-hole>
  </div>
</div>
