.container {
    display: flex;
    align-items: flex-start; /* Align items at the start of the flex container */
}

  .hole-list {
   display: flex;
   flex-direction: column;
   width: 20%;
   justify-content: center;
  }

  .player-scores {
    width: 20%;
    margin-right: 20px; /* Add some spacing between the hole list and player scores */
  }

  .hole-details {
    width: 60%;
    flex: 1; /* Let the hole details take up available space */
  }

.add-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-icon img {
  background-color: #abb596;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

.add-hole-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.add-hole-form button{
  margin-top: 10px;
}
