.container {
  display: flex;
}
.background {
  background-image: url('../../assets/pub-golf.svg');
  background-size: 59%; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #faebd7;
  height: 100vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed; /* Needed for absolute positioning */
}

.content {
  text-align: center;
  font-family: 'Old English Five', sans-serif;
  z-index: 1; /* Ensure content is on top of the line */
  user-select: none; /* Prevent text selection */
  color: black;
}
.content h1 {
  font-size: 5rem;
  margin-bottom: 0;
}
.sidebar {
  width: 20%; /* Set the width of the sidebar */
  display: flex;
  background-color: #abb596; /* Sidebar background color */
  height: 100vh;
  position: fixed; /* Fixed position to keep sidebar always visible */
  right: 0; /* Position the sidebar on the left side of the page */
  top: 0; /* Align sidebar to the top of the page */
  justify-content: center;
  border-left: black 3px groove; /* Add a border to the left of the sidebar */
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the login component takes the full height of its container */;
}
